# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
.next
out
.turbo

# Environment
.env
.env.*
!.env.example

# IDE / OS
.DS_Store
*.log
.idea
.vscode

# TypeScript
next-env.d.ts
*.tsbuildinfo

# Drizzle
packages/db/migrations/meta
